<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  IgnorableNamespaces="uap rescap desktop desktop4 desktop6 mp">

  <Identity
    Name="PrivGvard"
    Publisher="CN=PrivGvard"
    Version="2.0.0.0"
    ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>PrivGvard</DisplayName>
    <PublisherDisplayName>PrivGvard</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>PrivGvard - Camera &amp; Microphone Privacy Guard for Windows</Description>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
    <Resource Language="es-es" />
  </Resources>

  <Applications>
    <Application Id="PrivGvardApp"
      Executable="PrivGvard.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="PrivGvard"
        Description="PrivGvard - Camera &amp; Microphone Privacy Guard for Windows"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile
          Square71x71Logo="Assets\Square71x71Logo.png"
          Square310x310Logo="Assets\Square310x310Logo.png"
          Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.startupTask" Executable="PrivGvard.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask TaskId="PrivGvardStartupTask" Enabled="false" DisplayName="PrivGvard" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="allowElevation" />
    <rescap:Capability Name="unvirtualizedResources" />
  </Capabilities>
</Package>
